<div class="row">
	<div class="col-6 offset-sm-3">
		<div class="text-center">
			<h3>Tạo mới danh mục</h3>
		</div>
		<form [formGroup]="cateForm">
		
			<div class="form-group">
				<label for="">Tên danh mục <span class="text-danger">*</span></label>
				<input type="text" 
						formControlName="name"
						class="form-control">
				<div *ngIf="name.invalid && (name.dirty || name.touched)"
				    class="alert alert-danger">

				  <div *ngIf="name.errors.required">
				    Vui lòng điền tên danh mục
				  </div>
				  <div *ngIf="name.errors.minlength">
				    Tên danh mục không đc ít hơn 4 ký tự
				  </div>
				  <div *ngIf="name.errors.maxlength">
				    Tên danh mục không vượt quá 20 ký tự
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<img src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png" *ngIf="cateForm.value.image == ''" class="img-fluid">
					<img [src]="cateForm.value.image" *ngIf="cateForm.value.image != ''" class="img-fluid">
				</div>
			</div>
			<div class="form-group">
				<label for="">Ảnh danh mục <span class="text-danger">*</span></label>
				<input type="text" 
						formControlName="image" 
						class="form-control">
				<div *ngIf="image.invalid && (image.dirty || image.touched)"
				    class="alert alert-danger">

				  <div *ngIf="image.errors.required">
				    Vui lòng nhập đường dẫn ảnh
				  </div>
				</div>
			</div>
			<div class="text-center">
				<button [disabled]="cateForm.invalid" 
						type="button" 
						(click)="saveCategory()"
						class="btn btn-sm btn-success">Lưu</button>
				<a routerLink="/" class="btn btn-sm btn-danger">Hủy</a>
			</div>
		</form>
	</div>
</div>
<div>
</div>